.register{
    height: calc(100vh - 50px); /*Since navbar is 50px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("https://images.pexels.com/photos/4522998/pexels-photo-4522998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    align-items: center;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    color: white;
    background-color: lightcoral;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
}