.login{
    height: calc(100vh - 50px); /*Since navbar is 50px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("https://images.pexels.com/photos/1772123/pexels-photo-1772123.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    align-items: center;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}