.NavBar{
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 50px;
    position: sticky; /*to make the navbar stick to one place */
    top: 0; /*Indicating the position */
    display: flex; /*To display multiple items horizontally*/
    align-items: center;
    z-index: 999; /*To fix the contents below navbar*/
}

.NavLeft, .NavRight{
    flex:3; /* 3units*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavCenter{
    flex: 6; /* 6units*/
}
.ProfPic{
    width: 40px;
    height:40px;
    border-radius:50%; /* to make it a circle*/
    object-fit: contain;
    cursor: pointer;
}

.Icon{
    width: 20px;
    margin: 10px;
    color: #444;
    cursor: pointer;
}

.NavList{
    display:flex;
    justify-content: center;
    list-style: none;
    margin:0;
    padding: 0;
}

.NavListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.searchIcon{
    font-size: 18px;
    color:#666;
    cursor: pointer;
    margin-left: 15px;
}